<div style="text-align:center">
  <div class="landing-page">
    <h1>
      {{ title }}
    </h1>
    <h3><a target="_blank" href="https://gionkunz.github.io/chartist-js/">CHARTIST.JS</a> integration for Angular 2+</h3>
    <p>
      <img src="assets/img/chartist-img.gif">
    </p>
  </div>
  <lib-ngx-chartist></lib-ngx-chartist>
  <h3>Line Chart Examples</h3>
  <div class="examples">
    <br/><br/>
    <div fxLayout="column">
      <app-simple-line-chart></app-simple-line-chart>
      <app-holes-in-data></app-holes-in-data>
      <app-filled-holes-in-data></app-filled-holes-in-data>
      <app-filled-holes-in-data></app-filled-holes-in-data>
      <app-only-whole-numbers></app-only-whole-numbers>
      <app-line-scatter-diagram></app-line-scatter-diagram>
      <app-line-chart-with-area></app-line-chart-with-area>
      <app-bi-polar-line-chart></app-bi-polar-line-chart>
      <app-using-events-to-replace-graphics></app-using-events-to-replace-graphics>
      <app-advanced-smil-animations></app-advanced-smil-animations>
      <app-svg-path-animation></app-svg-path-animation>
      <app-line-interpolation></app-line-interpolation>
      <app-series-overrides></app-series-overrides>
      <app-time-series-with-momentjs></app-time-series-with-momentjs>
    </div>
    <br/><br/>
  </div>

  <h3>Bar Chart Examples</h3>
  <div class="examples">
    <br/><br/>
    <div fxLayout="column">
      <!-- Here put the examples -->
      <app-bi-polar-bar-chart></app-bi-polar-bar-chart>
      <app-overlapping-bars-on-mobile></app-overlapping-bars-on-mobile>
      <app-add-peak-circles-using-draw-events></app-add-peak-circles-using-draw-events>
      <app-multi-line-labels></app-multi-line-labels>
      <app-stacked-bar-chart></app-stacked-bar-chart>
      <app-horizontal-bar-chart></app-horizontal-bar-chart>
      <app-extreme-responsive-configuration></app-extreme-responsive-configuration>
      <app-distributed-series></app-distributed-series>
      <app-label-placement></app-label-placement>
    </div>
    <br/><br/>
  </div>

  <h3>Pie Chart Examples</h3>
  <div class="examples">
    <br/><br/>
    <div fxLayout="column">
      <app-simple-pie-chart class="ct-negative-labels"></app-simple-pie-chart>
      <app-pie-chart-with-custom-labels></app-pie-chart-with-custom-labels>
      <app-gauge-chart></app-gauge-chart>
      <app-animating-a-donut></app-animating-a-donut>
      <app-donut-chart-using-fill class="ct-negative-labels"></app-donut-chart-using-fill>
      <app-gauge-chart-using-fill class="ct-negative-labels"></app-gauge-chart-using-fill>
    </div>
    <br/><br/>
  </div>
</div>
